.welcome {
  gap: 1em;
  position: relative;
  height: clamp(30em, 90vh, 60em);
  text-shadow: 0 0 7px var(--accent);
  text-align: center;
}
.welcome::before {
  filter: blur(1px) grayscale(40%);
}

.welcome h2 {
  font-size: 3rem;
  z-index: 11;
}

.welcome p {
  font-size: 2rem;
  width: 70%;
  z-index: 11;
}

@media screen and (max-width: 500px) {
  .welcome h2 {
    font-size: 2rem;
    z-index: 11;
  }
  
  .welcome p {
    font-size: 1rem;
    width: 70%;
    z-index: 11;
  }
}
